.txt_overflow {
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
}
body {
margin: 0;
background: #ffffff;
font: 13px/21px Arial, Tahoma, Serif;
color: #000000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
font: 29px/40px HelveticaNeue, Helvetica, Arial, Tahoma, Serif;
font-weight: bold;
}
h3 {
font-size: 19px;
line-height: 25px;
}
img {
border: none;
}
p {
margin: 0;
}
a {
color: #0d5ba4;
}
input,
textarea,
button {
display: block;
margin: 0;
padding: 0;
border: none;
font: 0px/0px;
color: #000;
}
button {
cursor: pointer;
}
label {
display: block;
}
ul,
ol {
list-style: none;
margin: 0;
padding: 0;
}
li {
display: block;
}
code {
display: block;
font: 0px/0px;
}
table {
border-collapse: collapse;
}
table {
border-collapse: collapse;
}
table tr,
table td,
table th {
border: 0;
margin: 0;
padding: 0;
}
td img {
display: block;
}
.mailer {
margin: 0 auto;
}
.m_wrapper {
margin: 35px auto 0;
}
.m_center {
background: #eceae6;
}
.h_logo {
padding: 0 25px 0 87px;
}
.h_social {
padding: 0 12px;
}
.content {
width: 365px;
}
.c_top {
padding: 45px 0 0 0;
}
.c_top h1 {
padding: 0 0 15px 0;
}
.c_top h3 {
padding: 0 0 10px 0;
}
.c_sep {
padding: 15px 0 20px;
}
.c_bottom h1 a {
text-decoration: none;
border-bottom: 2px solid #7ca2c5;
}
.c_bottom_img {
vertical-align: top;
padding: 10px 0 0 0;
}
.c_bottom_text {
vertical-align: top;
padding: 0 0 60px 10px;
}
.c_bottom_text h1 {
font-size: 19px;
}
.footer {
font-size: 10px;
line-height: 15px;
}
.f_column {
padding: 0 0 40px 120px;
letter-spacing: -0.2px;
}
.js__none {
display: none;
}
.js__block {
display: block;
}
.js__none_imp {
display: none !important;
}
.js__block_imp {
display: block !important;
}
@-moz-document url-prefix() {
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
}