@import "share/mixin.less";
@import "share/path.less";
@import "share/reset.less";
@import "share/font.less";


// Блоки
.search_descreption { position:absolute; left:-20000px; }


.pic_layout { width:1260px; margin:0 auto; }
  .pic_layout_wrapper {
    position:absolute; top:0; right:0; left:0;
    min-width:1260px; min-height:755px; overflow:hidden;
  }
  .pic_layout_column { position:relative; z-index:2; }


  .header { height:110px; }
    .h_logo { float:left; width:192px; height:100%; margin:0 0 0 195px; }
    .h_social {
      float:left; margin:40px 0 0 205px;
      a { float:left; width:27px; height:27px; margin:0 8px; }
    }
    .h_social_fb {
      background:url("@{img}icons.png") 0 0;
      &:hover { background:url("@{img}icons.png") -108px 0; }
    }
    .h_social_vk {
      background:url("@{img}icons.png") -27px 0;
      &:hover { background:url("@{img}icons.png") -135px 0; }
    }
    .h_social_gplus {
      background:url("@{img}icons.png") -54px 0;
      &:hover { background:url("@{img}icons.png") -162px 0; }
    }
    .h_social_tw {
      background:url("@{img}icons.png") -81px 0;
      &:hover { background:url("@{img}icons.png") -189px 0; }
    }


  .content { margin:0 0 0 500px; }
    .c_head {
      float:left; width:350px; text-align:center; margin:35px 0 0 0; color:#a3795b;
      text-shadow:0 -1px 1px #000;
    }
    .c_subscription { float:left; clear:left; width:210px; margin:70px 0 0 65px; }
    .c_subscription_label {
      position:relative; width:100%; height:31px; padding:16px 0 0; margin:-47px 0 0 0;
      color:#977964; font-size:18px; text-align:center; cursor:text;
    }
    .c_input {
      .round(12px);
      height:45px; padding:0 13px; border-bottom:1px solid #98806b; border-top:1px solid #34271b; text-align:center;
      background:url("@{img_msk}line.png") 0 0;
    }
    .c_textarea {
      .round(12px);
      width:180px; height:170px; padding:5px 15px;
      border-bottom:1px solid #98806b; border-top:1px solid #34271b; resize:none; line-height:20px;
      background:url("@{img_msk}line.png") 0 -45px;
    }
    .c_button {
      .round(12px); .gradient(#846041, #4b331c, #553b22); .shadow(0 0 1px #000);
      text-shadow:0 -1px 1px #121212;
      width:100%; height:45px; font:18px/30px PragmaticaBold, Arial, Tahoma, Serif; color:#b7a395; padding:0 0 2px;
      border-top:1px solid #a2876e; border-bottom:1px solid #3a2a1b;
      &:hover { .gradient(#89572b, #4f2d0d, #663e19); }
      &:focus, &:active { .gradient(#513010, #8a592c, #7a4d24); }
    }
    .c_text { text-align:center; color:#aa9b8d; }
    .c_slider { float:left; margin:-200px 0 0 75px; }
    .c_slider_mask { position:relative; width:288px; height:516px; background:url("@{img}icons.png") 0 -125px; }
    .c_slider_container {
      float:left; width:176px; height:335px; margin:83px 0 0 63px;
      div { position:relative; z-index:-1; width:176px; height:335px; }
    }
    .c_slider_wrapper {  }
    .c_slider_mask_item_1 { background:url("@{img}slider.png") 0 0; }
    .c_slider_mask_item_2 { background:url("@{img}slider.png") -176px 0; }
    .c_slider_mask_item_3 { background:url("@{img}slider.png") -352px 0; }
    .c_slider_mask_item_4 { background:url("@{img}slider.png") -528px 0; }
    .c_slider_mask_item_5 { background:url("@{img}slider.png") -704px 0; }
    .c_slider_arrows {
      position:relative; float:left; width:100%; margin:135px 0 0 5px;
      a { position:absolute; width:45px; height:45px; cursor:pointer; top:-18px; }
    }
    .c_slider_nav_left {
      background:url("@{img}icons.png") 0 -80px; left:45px;
      &:hover { background:url("@{img}icons.png") -90px -80px; }
    }
    .c_slider_nav_right {
      background:url("@{img}icons.png") -45px -80px; right:20px;
      &:hover { background:url("@{img}icons.png") -135px -80px; }
    }
    .c_slider_nav {
      margin:0 0 0 105px;
      li {
        .round(5px);
        float:left; width:10px; height:10px; margin:0 5px; background:#b7a395;
        a { float:left; width:100%; height:100%; }
      }
    }
    .m__c_slider_nav_active { background:#835f48 !important; }
    .m__c_subscription_text { margin:0 0 8px 0; }
    .m__c_subscription_button { margin:20px 0 0; }
    .m__input_focus { background:#fff; }



  .footer { float:left; width:100%; margin:-40px 0 20px 0; }
    .f_copy { float:left; width:220px; margin:0 0 0 185px; }
    .f_copy_right {
      span { margin:0 5px; }
      a {
        text-decoration:none; border-bottom:2px dashed #726153;
        &:hover { color:#f9764e; border-color:#aa5a3c; }
      }
    }
    .f_copy_mail {
      display:block; text-align:center; margin:10px 0 0 0;
      &:hover { color:#f9764e; }
    }
    .f_appstore {
      float:left; width:147px; height:53px; background:url("@{img}icons.png") 0 -27px;
      margin:10px 0 0 190px;
      &:hover { background:url("@{img}icons.png") -147px -27px; }
    }
    .f_likes { width:500px; margin:0 auto; }
    .f_likes_wrapper { float:left; width:100%; height:30px; margin:40px 0 0 0; }
    .f_likes_item { float:left; }


  .background {
    position:absolute; z-index:1; top:0; width:1303px; height:755px; margin:0 0 0 -15px;
    background:url("@{img}background.png");
  }


  .mask { position:fixed; top:0; left:0; width:100%; height:100%; background:url("@{img_msk}background.png"); }


  .popup {
    display:none;
    .round(12px);
    // И тут такой адовый градиент
    background:#2b1e12;
    background:-moz-linear-gradient(top, #2b1e12 0%, #664932 70%, #583e29 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b1e12), color-stop(70%,#664932), color-stop(100%,#583e29));
    background:-webkit-linear-gradient(top, #2b1e12 0%,#664932 70%,#583e29 100%);
    background:-o-linear-gradient(top, #2b1e12 0%,#664932 70%,#583e29 100%);
    background:-ms-linear-gradient(top, #2b1e12 0%,#664932 70%,#583e29 100%);
    background:linear-gradient(to bottom, #2b1e12 0%,#664932 70%,#583e29 100%);

    position:absolute; z-index:3; top:75px; left:50%; width:310px;
    border-top:1px solid #483323; border-bottom:1px solid #35261a;
    border-left:1px solid #292018; border-right:1px solid #292018;
    &:hover {
      .p_close { display:block; }
    }
  }
    .p_body { display:none; position:fixed; z-index:2; top:0; width:100%; height:100%; background:#1b1b1b; }
    .p_close {
      display:none; position:absolute; top:-46px; right:0; width:45px; height:45px;
      background:url("@{img}icons.png") -180px -80px;
    }
    .p_mask { background:url("@{img_msk}noise.png"); }
    .p_center { width:210px; margin:0 auto; }
    .p_head { margin:20px 0 10px; text-align:center; color:#a3795b; }
    .p_textarea_mask {
      .round(12px);
      width:100%; height:180px; background:url("@{img_msk}noise.png"); margin:-181px 0 0 0;
    }
    .m__p_input { margin:5px 0 10px; text-align:left; }
    .m__p_textarea { margin:5px 0 0; }
    .m__p_button { padding:0 52px 2px; margin:15px 0 25px; }
    .m__p_text { color:#88644a; }


// Тут блоки которые связаны с media queries, <760 не задействованы вообще
// 760
.f_appstore__760 {
  display:none; float:left; width:147px; height:53px; background:url("@{img}icons.png") 0 -27px; margin:0 0 0 320px;
  &:hover { background:url("@{img}icons.png") -147px -27px; }
}


.f_copy__760 {
  display:none; float:left; width:220px; margin:60px 0 0 290px;
  .f_copy_mail { margin:5px 0 0 0; }
  .f_likes_wrapper { margin:50px 0 0 0; }
}


.h_social__760 {
  display:none; float:left; margin:40px 0 0 305px;
  a { float:left; width:27px; height:27px; margin:0 8px; }
}


.c_slider__760 {
  display:none; float:right; margin:-150px 0 0 0;
  .c_slider_mask { width:200px; height:352px; background:url("@{img}760/icons.png") 0 -30px; }
  .c_slider_nav { margin:10px 0 0 0; }
  .c_slider_nav_arrow { width:32px; height:32px; top:-13px; }
  .c_slider_nav_left {
    background:url("@{img}760/icons.png") 0 0; left:30px;
    &:hover { background:url("@{img}760/icons.png") 0 0; }
  }
  .c_slider_nav_right {
    background:url("@{img}760/icons.png") -32px 0; right:20px;
    &:hover { background:url("@{img}760/icons.png") -32px 0; }
  }
  .c_slider_nav_dot {
    margin:0 0 0 72px;
    a { width:7px; height:7px; margin:0 3px; }
  }
}
// 320


// Media queries
@media all and ( max-width:760px ), ( max-device-width:760px ) {

  .pic_layout { width:740px; }
    .pic_layout_wrapper { min-width:740px; min-height:1035px; }


  .h_logo { width:135px; height:80px; margin:0 0 0 55px; }
  .h_social { display:none; }
  .h_social__760 { display:block; }


  .content { margin:0 0 0 230px; }
    .c_head { font-size:38px; margin:15px 0 0; line-height:45px; }
    .c_slider { display:none; }
    .c_slider__760 { display:block; }
    .c_subscription { margin:150px 0 0 65px; }


  .footer { margin:95px 0 0; }
    .f_appstore { display:none; }
    .f_appstore__760 { display:block; }
    .f_copy { display:none; }
    .f_copy__760 { display:block; }


  .background { width:759px; height:1035px; margin:0; background:url("@{img}760/background.png"); }

}


@import "share/js.less";
@import "share/hack.less";

