// Классы для связи DOM с js, чаще просто декларативно, реже — с 1, 2 стилями
.js__none { display:none; }
.js__block { display:block; }
.js__none_imp { display:none !important; }
.js__block_imp { display:block !important; }

.js__input_focus {}
.js__input_white { background:#fff; }

.js__input_hidden {}

.js__popup {}