.c_input { padding-top:14px; height:31px; font:16px Arial, Tahoma, Serif; }
.c_button { border-top:0; height:44px; padding-top:2px; cursor:pointer; }
.c_head { color:#AD876C; }
.background { margin:0 0 0 -1400px; }
.content { margin:0 0 0 400px; }
.h_logo { margin:0 0 0 90px; }
.c_subscription { float:none; margin-left:60px; }
.c_slider { float:none; margin:-420px 0 0 375px; }
.f_likes_wrapper { display:none; }
.footer { margin:25px 0 20px; }
.m__f_copy_main { margin:0 0 0 80px; }
.m__p_validation { top:285px; }